{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "require-extensions"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:require-extensions/recommended"
	],
	"env": {
		"browser": true,
		"es2017": true,
		"node": true
	},
	"rules": {
		"@typescript-eslint/no-explicit-any": "off"
	}
}
